<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultTemplate}">
<head>
    <title>RPG Character Tracker | Home</title>
</head>

<body>

<section layout:fragment="content" class="container mt-5 text-center">

    <h3>Welcome to the</h3>
	<h1>RolePlaying Game Character Tracker</h1>
    <p>Your source for creating and viewing characters for your tabletop adventures</p>

    <a class="btn btn-primary mt-3"
       th:href="@{/characters}">
        View Characters
    </a>

</section>

</body>
</html>